<!-- <div class="listbox" >
    <select multiple [(ngModel)]="selectedItem" (change)="onItemSelected($event)">
      <option *ngFor="let item of listValid" [value]="item">{{ item }}</option>
    </select>
  </div>
   -->


<!-- <div class="listbox">
    <select [(ngModel)]="selectedItem" (change)="onItemSelected($event)">
      <option *ngFor="let item of items" [value]="item">{{ item }}</option>
    </select>
  </div> -->
  

  <!-- <select [(ngModel)]="selectedOption">
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
  </select>
  
  <p>Selected Option: {{ selectedOption }}</p> -->






  
  <!-- <div class="dropdown">
    <button class="dropdown-toggle" (click)="toggleMonthDropdown()">
      {{ selectedMonth || 'Ay' }}
    </button>
    <ul class="dropdown-menu" [class.show]="isMonthOpen">
      <li *ngFor="let option of optionsMonth" (click)="selectMonthOption(option)">
        {{ option }}
      </li>
    </ul>
  </div>

  <div class="dropdown2">
    <button class="dropdown-toggle" (click)="toggleYearDropdown()">
      {{ selectedYear || 'Yıl' }}
    </button>
    <ul class="dropdown-menu" [class.show]="isYearOpen">
      <li *ngFor="let option of optionsYear" (click)="selectYearOption(option)">
        {{ option }}
      </li>
    </ul>
  </div> -->